.side-bar-logo-area {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 136px;
  background-color: #f7f7f7;
}

.side-bar-banner {
  width: 100%;
  height: 110px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.side-bar-background {
  -webkit-transform: skewY(5deg);
  transform: skewY(5deg);
  background-color: #212529;
  position: absolute;
  top: -65px;
  width: 100%;
  bottom: 0;
  z-index: -1;
  left: 0;
  right: 0;
}

.side-bar-logo {
  height: auto;
  width: 200px;
}

.menu-item {
  display: flex;
  justify-content: start;
  gap: 12px;
  align-items: center;
  align-content: center;
  padding: 14px 30px;
}

#main {
  transition: margin-left 0.5s;
}

.side-bar-logo-area .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu-list .menu-item:hover {
  color: #6a6a6a;
}
