<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Project</title>
  </head>
  <body>
    <!-- Container for demo purpose -->
    <div class="container my-24 px-6 mx-auto">
      <!-- Section: Design Block -->
      <section class="mb-32 text-gray-800">
        <style>
          .zoom:hover img {
            transform: scale(1.1);
          }
        </style>

        <h2 class="text-3xl font-bold mb-12 text-center">
          Products we are<u class="text-blue-600" style="color: #a17c71">
            offer</u
          >
        </h2>

        <div class="grid lg:grid-cols-3 gap-6">
          <div
            class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
            style="background-position: 50%"
            data-mdb-ripple="true"
            data-mdb-ripple-color="dark"
          >
            <img
              src="https://images.unsplash.com/photo-1515377905703-c4788e51af15?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              class="w-full transition duration-300 ease-linear align-middle"
              alt="Health & Personal Care"
            />
            <a href="#!">
              <div
                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                style="background-color: rgba(0, 0, 0, 0.3)"
              >
                <div class="flex justify-start items-end h-full">
                  <h5 class="text-lg font-bold text-white m-6">
                    Health & Personal Care
                  </h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div
                  class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                  style="background-color: rgba(253, 253, 253, 0.15)"
                ></div>
              </div>
            </a>
          </div>

          <div
            class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
            style="background-position: 50%"
            data-mdb-ripple="true"
            data-mdb-ripple-color="dark"
          >
            <img
              src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              class="w-full transition duration-300 ease-linear align-middle"
              alt="Electronics"
            />
            <a href="#!">
              <div
                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                style="background-color: rgba(0, 0, 0, 0.3)"
              >
                <div class="flex justify-start items-end h-full">
                  <h5 class="text-lg font-bold text-white m-6">Electronics</h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div
                  class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                  style="background-color: rgba(253, 253, 253, 0.15)"
                ></div>
              </div>
            </a>
          </div>

          <div
            class="zoom shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover"
            style="background-position: 50%"
            data-mdb-ripple="true"
            data-mdb-ripple-color="dark"
          >
            <img
              src="https://images.unsplash.com/photo-1636489938695-7d25c7b23ba6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80"
              class="w-full transition duration-300 ease-linear align-middle"
              alt="Gaming accessories"
            />
            <a href="#!">
              <div
                class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
                style="background-color: rgba(0, 0, 0, 0.3)"
              >
                <div class="flex justify-start items-end h-full">
                  <h5 class="text-lg font-bold text-white m-6">
                    Gaming accessories
                  </h5>
                </div>
              </div>
              <div class="hover-overlay">
                <div
                  class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
                  style="background-color: rgba(253, 253, 253, 0.15)"
                ></div>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
    <!-- Container for demo purpose -->
  </body>
</html>
